$highlight_blue: #10937f;
$widget_black: #333;
$border_gray: #ccc;
$background_gray: #ededed;
$background_light_gray: #fafafa;
$announcement_red: #ae0000;

$base_font_size: 14px;
$widget_border_radius: 2px;

$monospace-fonts: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
