<div class="sub-main">
    <div class="sub-info">
        <div class="name sub-private-name">
            <i>Organization-Private Problem</i>
        </div>
    </div>
</div>

<div class="sub-pp sub-usage">
    <div class="pp sub-private-pp">
        {{ breakdown.scaled_points|floatformat(0) }}pp
    </div>
    <div class="pp-weighted">
        {% trans weight=breakdown.weight|floatformat(0) %}
            weighted <b>{{ weight }}%</b>
        {% endtrans %}

        {% if breakdown.scaled_points < 10 %}
            ({{ _('%(pp).1fpp', pp=breakdown.scaled_points) }})
        {% else %}
            ({{ _('%(pp).0fpp', pp=breakdown.scaled_points) }})
        {% endif %}
    </div>
</div>
